body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

#classes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.class-btn {
    padding: 40px 80px;
    background-color: #ecf0f1;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

.class-btn:hover {
    background-color: #3498db;
    color: white;
    transform: scale(1.05);
  }

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}